body{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgba(240, 240, 240, 0.9);
    border-bottom: 1px solid grey;
    box-shadow: 0px 5px 10px grey;
}
header div ul li a{
    color: rgb(14, 209, 69);
}
header div ul li a:hover{
    color: black;
    padding-top: 23px;
    border-top: 2px solid rgb(14, 209, 69);
}
#logo{
    display: flex;
}
#bike{
    width: 10%;
}
#lvelo{
    width: 20%;
    height: 80%;
}
div nav ul{
    display: flex;
}
div nav ul li{
    list-style: none;
    margin: 0 15px 0 15px;
}
div nav ul li a{
    text-decoration: none;
}

#slideshow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#slideshow img{
    width: 30%;
}
.button{
    margin: 0 10px 0 10px;
}
.button i{
    font-size: 140%;
}
.button button{
    border: none;
    background: none;
    cursor: pointer;
}

#mapStation{
    padding-top: 33px;
    width: 100%;
    display: flex;
}
#map{
    width: 100%;
    height: 800px;
    margin: 50px;
    border-radius: 20px;
    z-index: 2;
}
#stationI h2, #stationI h3{
    text-align: center;
}
#stationI{
    display: none;
    margin: auto;
    width: 20%;
    background-color: rgba(255,255,255,0.8);
    border: 2px solid grey;
    border-radius: 10px;
}
#resa{
    margin: 10px auto 10px auto;
}
#form{
    text-align: center;
}
#firstName, #lastName{
    margin: 5px;
}
.fa-times-circle{
    color: grey;
    font-size: 25px;
    float: right;
    cursor: pointer;
}
.fa-times-circle:active{
    color: black;
}

#canvas{
    display: none;
    margin: auto;
}
canvas{
    background: white;
    border: 1px solid black;
}
#check, #clear{
    display: none;
}

footer div{
    height: 70px;
    background-color: rgba(240, 240, 240, 0.9);
    border-top: 1px solid grey;
    box-shadow: 5px 0px 10px grey;
    text-align: center;
}