body{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgba(240, 240, 240, 0.9);
    border-bottom: 1px solid grey;
    box-shadow: 0px 5px 10px grey;
}
#logo{
    display: flex;
}
#bike{
    width: 10%;
}
#lvelo{
    width: 20%;
    height: 80%;
}
div nav ul{
    display: flex;
}
div nav ul li{
    list-style: none;
    margin: 0 15px 0 15px;
}
div nav ul li a{
    text-decoration: none;
}

#slideshow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#slideshow img{
    width: 30%;
}
.button{
    margin: 0 10px 0 10px;
}
.button i{
    font-size: 140%;
}
.button button{
    border: none;
    background: none;
    cursor: pointer;
}

#mapStation{
    padding-top: 33px;
    width: 100%;
    display: flex;
}
#map{
    width: 100%;
    height: 800px;
    margin: 40px;
    border-radius: 20px;
    z-index: 2;
}
#stationI h2, #stationI h3{
    text-align: center;
}
#stationI{
    display: none;
    margin: auto;
    width: 20%;
    background-color: rgba(255,255,255,0.8);
    border: 2px solid grey;
    border-radius: 10px;
}
#resa{
    display: block;
    margin: auto auto 10px auto;
}
#form{
    text-align: center;
}

canvas{
    width: 300px;
    height: 200px;
    background: white;
    border: 1px solid black;
}
#check, #clear{
    display: none;
}